<div id="wrapper">
        <!-- Sidebar -->
        <ul class="sidebar navbar-nav">
           <li class="nav-item">
              <a class="nav-link text-center" routerLink="/dashboard">
              <img src="../../../assets/img/logo-app.png" class="img-responsive img-logo">
              </a>
           </li>
           <li class="nav-item text-center">
              <img class="img-responsive img-user-avatar" src="../../../assets/img/avatar.png">
              <span class="user-info text-center">
                 <h6 class="user-name">Douglas Potter</h6>
                 <span class="user-identity">Jz0L-250771</span>
              </span>
           </li>
           <li class="nav-item">
              <a class="nav-link" href="/">
              <i class="fas fa-fw fa-chart-area"></i>
              <span>Dashboard</span></a>
           </li>
           <li class="nav-item"><a class="nav-link" href="#Account"><i class="fas fa-fw fa-user"></i><span>Account Settings</span></a></li>
           <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-fw fa-folder"></i>
              <span>Change Plans</span>
              </a>
              <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                 <a class="dropdown-item" routerLink="#home">Accueil</a>
                 <a class="dropdown-item" routerLink="#produitbycategorie">Produits</a>
                 <a class="dropdown-item" routerLink="#all_categorie">Toutes categorie</a>
                 <a class="dropdown-item" routerLink="#detailproduit">Details</a>
              </div>
           </li>
           <li class="nav-item">
              <a class="nav-link" href="#Expense">
              <i class="fas fa-fw fa-sync"></i>
              <span>Expense Statistics</span></a>
           </li>
           <li class="nav-item sign-out"><a class="nav-link" href="/login"><i class="fas fa-fw fa-sign-out-alt"></i><span>Sign out</span></a></li>
        </ul>
        <div id="content-wrapper">
           <div class="container-fluid main-container">
              <!-- Page Content -->
              <div class="top-block">
                 <h1>Services Plans</h1>
                 <button class="btn btn-light btn-support" type="button"><i class="fas fa-fw fa-life-ring"></i> Contact Support</button>
              </div>
              <ul class="nav nav-tabs top-nav" id="myTab" role="tablist">
                 <li class="nav-item"><a aria-controls="home" aria-selected="true" class="nav-link active show" data-toggle="tab" href="#home" id="home-tab" role="tab">Chose a plan</a></li>
                 <li class="nav-item"><a aria-controls="profile" aria-selected="false" class="nav-link" data-toggle="tab" href="#profile" id="profile-tab" role="tab">Changing history</a></li>
              </ul>
              <div class="tab-content" id="myTabContent">
                 <div aria-labelledby="home-tab" class="tab-pane fade active show" id="home" role="tabpanel">
                    <div class="pricing row">
                       <div class="col-md-4">
                          <div class="card mb-5 mb-lg-0">
                             <div class="card-body">
                                <h5 class="card-title text-muted text-uppercase text-center">FAST FURIOUS</h5>
                                <img class="img-pricing img-responsive d-block mx-auto" src="../../../assets/img/pricing-type-1.png">
                                <h6 class="card-price text-center">$85<span class="period">/mo</span></h6>
                                <span class="price-details">$900 per year (-10%)</span>
                                <hr>
                                <ul class="fa-ul features">
                                   <li>
                                      <div class="offre-spec"><i class="fas fa-check"></i> Trafic quantity </div>
                                      <span class="offre-details">100 GB</span>
                                   </li>
                                   <li>
                                      <div class="offre-spec"><i class="fas fa-check"></i> Trafic quantity </div>
                                      <span class="offre-details">100 GB</span>
                                   </li>
                                   <li>
                                      <div class="offre-spec"><i class="fas fa-check"></i> Trafic quantity </div>
                                      <span class="offre-details">100 GB</span>
                                   </li>
                                </ul>
                                <a class="btn btn-block btn-primary text-uppercase btn-offre" href="#"><i class="fas fa-fw fa-sync"></i> Active</a>
                             </div>
                          </div>
                          <div class="card mt-3 mb-5 mb-lg-0">
                             <div class="card-body">
                                <span class="text-uppercase text-center offre-card-short">LIGHT MCQUIN</span>
                             </div>
                          </div>
                       </div>
                       <div class="col-md-4">
                          <div class="card mb-5 mb-lg-0">
                             <div class="card-body">
                                <h5 class="card-title text-muted text-uppercase text-center">FAST FURIOUS</h5>
                                <img class="img-pricing img-responsive d-block mx-auto" src="../../../assets/img/pricing-type-1.png">
                                <h6 class="card-price text-center">$85<span class="period">/mo</span></h6>
                                <span class="price-details">$900 per year (-10%)</span>
                                <hr>
                                <ul class="fa-ul features">
                                   <li>
                                      <div class="offre-spec"><i class="fas fa-check"></i> Trafic quantity </div>
                                      <span class="offre-details">100 GB</span>
                                   </li>
                                   <li>
                                      <div class="offre-spec"><i class="fas fa-check"></i> Trafic quantity </div>
                                      <span class="offre-details">100 GB</span>
                                   </li>
                                   <li>
                                      <div class="offre-spec"><i class="fas fa-check"></i> Trafic quantity </div>
                                      <span class="offre-details">100 GB</span>
                                   </li>
                                </ul>
                                <a class="btn btn-block btn-primary text-uppercase btn-offre btn-choice-normal" href="#">Get started</a>
                             </div>
                          </div>
                          <div class="card mt-3 mb-5 mb-lg-0">
                             <div class="card-body">
                                <span class="text-uppercase text-center offre-card-short">LIGHT MCQUIN</span>
                             </div>
                          </div>
                       </div>
                       <div class="col-md-4">
                          <div class="card mb-5 mb-lg-0">
                             <div class="card-body">
                                <h5 class="card-title text-muted text-uppercase text-center">FAST FURIOUS</h5>
                                <img class="img-pricing img-responsive d-block mx-auto" src="../../../assets/img/pricing-type-1.png">
                                <h6 class="card-price text-center">$85<span class="period">/mo</span></h6>
                                <span class="price-details">$900 per year (-10%)</span>
                                <hr>
                                <ul class="fa-ul features">
                                   <li>
                                      <div class="offre-spec"><i class="fas fa-check"></i> Trafic quantity </div>
                                      <span class="offre-details">100 GB</span>
                                   </li>
                                   <li>
                                      <div class="offre-spec"><i class="fas fa-check"></i> Trafic quantity </div>
                                      <span class="offre-details">100 GB</span>
                                   </li>
                                   <li>
                                      <div class="offre-spec"><i class="fas fa-check"></i> Trafic quantity </div>
                                      <span class="offre-details">100 GB</span>
                                   </li>
                                </ul>
                                <a class="btn btn-block btn-primary text-uppercase btn-offre btn-choice-normal" href="#">Get started</a>
                             </div>
                          </div>
                          <div class="card mt-3 mb-5 mb-lg-0">
                             <div class="card-body">
                                <span class="text-uppercase text-center offre-card-short">LIGHT MCQUIN</span>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
                 <div aria-labelledby="profile-tab" class="tab-pane fade" id="profile" role="tabpanel">
                    <div class="row pt-4">
                       <div class="col-md-6">
                          <h5>Interface facile à utiliser</h5>
                          <p>
                             Une interface intuitive facilite la création d'un site Web magnifique, par vous-même. Créez des pages plus rapidement et plus facilement avec des centaines d’éléments de contenu et de modèles à votre disposition, nous vous couvrons.
                          </p>
                       </div>
                       <div class="col-md-6">
                          <img src="../../../assets/img/drag-drop-interactions.png" class="img-responsive d-block mx-auto" />
                       </div>
                    </div>
                    <div class="row pt-4">
                       <div class="col-md-6">
                          <h5>Interface facile à utiliser</h5>
                          <p>
                             Une interface intuitive facilite la création d'un site Web magnifique, par vous-même. Créez des pages plus rapidement et plus facilement avec des centaines d’éléments de contenu et de modèles à votre disposition, nous vous couvrons.
                          </p>
                       </div>
                       <div class="col-md-6">
                          <img src="../../../assets/img/drag-drop-interactions.png" class="img-responsive d-block mx-auto" />
                       </div>
                    </div>
                    <div class="row pt-4">
                       <div class="col-md-6">
                          <h5>Interface facile à utiliser</h5>
                          <p>
                             Une interface intuitive facilite la création d'un site Web magnifique, par vous-même. Créez des pages plus rapidement et plus facilement avec des centaines d’éléments de contenu et de modèles à votre disposition, nous vous couvrons.
                          </p>
                       </div>
                       <div class="col-md-6">
                          <img src="../../../assets/img/drag-drop-interactions.png" class="img-responsive d-block mx-auto" />
                       </div>
                    </div>
                 </div>
              </div>
           </div>
           <!-- /.container-fluid -->
        </div>
        <!-- /.content-wrapper -->
     </div>
     <!-- /#wrapper -->